{# Author: Lucas Melin #}
{# Created: Oct 13, 2018 #}
{# Last modified: Nov 25, 2018 #}
{% load research_projectfilters %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lucas Melin | Home</title>
    <link rel="stylesheet" href="{% static "css/tachyons.css" %}">
</head>
<body>
<article>
    <header class="bg-green sans-serif">
        <nav class="f6 fw6 ttu tracked">
            <a class="link dim white dib mr3" href="{% url 'research_project:journal' %}" title="Journal">Journal</a>
            <a class="link dim white dib mr3" href="{% url 'records:index' %}" title="Commodities">Commodities</a>
        </nav>
        <div class="mw9 center pa4 pt5-ns ph7-l">
            <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
                <span class="bg-black-90 lh-copy white pa1 tracked-tight">
                   {% if greeting %}
                       {{ greeting }}
                   {% else %}
                       Welcome!
                   {% endif %}
                </span>
            </h3>
            <form class="greeting_form" action="/" method="post">
                {% csrf_token %}
                {% for field in greet_form %}
                    <label class="db fw6 lh-copy f6" for="{{ field.name }}">{{ field.label }}</label>
                    {{ field | addCssClass:"pa1 input-reset ba bg-transparent hover-bg-light-green w-70" }}
                {% endfor %}
                <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit"
                       value="Submit">
            </form>
        </div>
    </header>
    <div class="pa4 ph7-l georgia mw9-l center">
        <p class="f5 f3-ns lh-copy measure georgia center">
            {% if weather %}
                The weather in {{ weather.city }}, {{ weather.country }} is {{ weather.temperature }}°C and
                {{ weather.description }}.
            {% endif %}
        </p>
    </div>
</article>
</body>
<footer class="pv4 ph3 ph5-m ph6-l mid-gray">
    <small class="f6 db tc"><b class="ttu">Lucas Melin</b></small>
</footer>
</html>

